.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg);
  color: var(--card-text);
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  flex: 1 1 300px;
}

.card__title {
  margin: 0 0 10px 0;
}

.card__prices {
  font-weight: bold;
  color: var(--price-text);
}
.card__ingredients-title {
  font-weight: bold;
  margin-top: 10px;
}

.card__ingredients-text {
  font-size: 14px;
  line-height: 1.5;
}
